<div class="background text-center">
    <form
      class="form-signin animated fadeIn"
      autocomplete="off"
    >
      <a [routerLink]="['/home']"> <img class="mb-4 img" src="../../../assets/img/battle1.jpg" alt="logo" /> </a>
      <h1 class="h3 mb-3 font-weight-normal">Batalla Naval !</h1>
            <!-- Disconnected from server -->
            <div id="disconnected">
              <div class="row">
                  <div class="col-sm-12 col-sm-offset-4 text-center">
                      <div class="alert alert-danger">
                          <p>Esperando la conexion del rival.</p>
                      </div>
                  </div>
              </div>
          </div>
            <!-- Waiting room -->
            <div id="waiting-room" >
              <div class="row">
                  <div class="col-sm-12 col-sm-offset-4 text-center" style="color: brown;">
                      <div class="panel panel-primary">
                          <div class="panel-heading" style="color: cadetblue;">Sala de espera</div>
                          <div class="panel-body">
                              <p>Tu estas conectado al servidor.</p>
                              <p>Esperando a tu oponente...</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <a [routerLink]="['/register']">Aun no tienes una cuenta?</a>
      <p class="mt-4 mb-3 text-muted">UTT Final - 2020</p>
    </form>
  </div>